<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Opciones</ion-label>
    </ion-list-header>

    <ion-item button (click)="Asignaturas()">
      <ion-label>Mis Asignaturas</ion-label>
    </ion-item>

    <ion-item button (click)="asistencia()">
      <ion-label>Mis Asistencias</ion-label>
    </ion-item>

    <ion-item button (click)="registro()">
      <ion-label>Registro de asistencia</ion-label>
    </ion-item>

    <ion-item button (click)="cambiar()">
      <ion-label>Cambiar Clave</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
