<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="page">
  <div class="card-container">
    <ion-card *ngFor="let asignatura of asignaturas">
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ingresa para obtener más información sobre la asignatura {{ asignatura.nombre }}.</p>
        <ion-button shape="round" color="primary" expand="full" (click)="viewSubject(asignatura)">
          Ingresar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
