<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-center">
  <div class="form-container">
    <h1>Inicio de Sesión</h1>

    <!-- Input de Correo -->
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="correo"
        placeholder="Ingrese su correo"
        required
      ></ion-input>
    </ion-item>

    <!-- Input de Clave -->
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="clave"
        placeholder="Ingrese su clave"
        required
      ></ion-input>
    </ion-item>

    <!-- Botón de Inicio de Sesión -->
    <ion-button expand="full" (click)="menu()">Iniciar Sesión</ion-button>
    
    <!-- Enlace para recuperar el correo -->
    <p class="forgot-email">
      <a href="#" (click)="recuperarCorreo()">¿Has olvidado tu correo electrónico?</a>
    </p>
  </div>
</ion-content>
