<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-header [translucent]="true">
      <ion-toolbar>
        <!-- Botón de retroceso -->
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro de Horas</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
      <img src="./img/descarga (1).png" alt="">
    </ion-toolbar>
  </ion-header>
</ion-content>
